<%= form_with model: @user, url: sign_up_path do |form| %>

  <div class="form-floating mb-3">
    <%= form.email_field :email, required: true, class: "form-control form-control-lg", id: "email", placeholder: "email@domain" %>
    <%= form.label :email, 'Enter Email', class: "form-label", for: "email"%>
  </div>

  <div class="form-floating mb-4">
    <%= form.password_field :password, required: true, class: "form-control form-control-lg", id: "password", placeholder: "password"  %>
    <%= form.label :password, 'Create Password', class: "form-label", for: "password"%>
  </div>

  <div class="form-floating mb-4">
    <%= form.password_field :password_confirmation, required: true, class: "form-control form-control-lg", id: "password_confirmation", placeholder: "password_confirmation" %>
    <%= form.label :password_confirmation, 'Confirm Password', class: "form-label", for: "password_confirmation"%>
  </div>

  <!-- Submit button -->
  <button id='sign-up' type="submit" data-disable-with="Create Account" class="btn btn-primary btn-lg btn-block">Create Account</button>

  <div class="divider d-flex align-items-center my-4">
    <p class="text-center fw-bold mx-3 mb-0 text-muted">OR</p>
  </div>

<% end %>

<%= form_with url: oidc_login_path do |form| %>
  <button class="btn btn-lg btn-block btn-primary" type="submit">
    <i class="fab fa-google me-2"></i>
    Sign up with google
  </button>
<% end %>
