<%= form_with url: password_path(params[:password_reset_token]), scope: :user, method: :put do |form| %>
<!--  <div>-->
    <%#= form.label :password %>
    <%#= form.password_field :password, required: true %>
<!--  </div>-->

<!--  <div>-->
    <%#= form.label :password_confirmation %>
    <%#= form.password_field :password_confirmation, required: true %>
<!--  </div>-->

  <div class="form-floating mb-4">
    <%= form.password_field :password, required: true, class: "form-control form-control-lg", id: "password", placeholder: "password"  %>
    <%= form.label :password, 'Create Password', class: "form-label", for: "password"%>
  </div>

  <div class="form-floating mb-4">
    <%= form.password_field :password_confirmation, required: true, class: "form-control form-control-lg", id: "password_confirmation", placeholder: "password_confirmation" %>
    <%= form.label :password_confirmation, 'Confirm Password', class: "form-label", for: "password_confirmation"%>
  </div>


  <button type="submit" data-disable-with="Change Password" class="btn btn-primary btn-lg btn-block">Change Password</button>
<% end %>
