<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Home</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto">
        <% if user_signed_in? %>
          <li class="nav-item">
            <a class="nav-link active" href="<%= account_path %>">My Account</a>
          </li>
          <li class="nav-item">
            <button class="btn btn-outline-danger" href="<%= logout_path %>" method="<%= :delete %>" type="button">Logout</button>
          </li>
        <% else %>
          <li class="nav-item">
            <a class="btn btn-outline-primary" href="<%= sign_up_path %>" style="margin-right:5px" type="button">Sign up</a>
          </li>
          <li class="nav-item">
            <a class="btn btn-outline-success" href="<%= login_path %>" style="margin-right:5px" type="button">Login</a>
          </li>
          <li class="nav-item dropdown">
            <a aria-expanded="false" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" id="navbarDropdown" role="button">
              More
            </a>
            <ul aria-labelledby="navbarDropdown" class="dropdown-menu">
              <li>
                <a class="nav-link active" href="<%= new_password_path %>">Forgot my password</a>
              </li>
              <li>
                <a class="nav-link active" href="<%= new_confirmation_path %>">Didn't receive confirmation instructions</a>
              </li>
              <li class="nav-item">
                <a aria-disabled="true" class="nav-link disabled" href="#" tabindex="-1">Disabled</a>
              </li>
            </ul>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
